body{
    background-color: rgb(3, 93, 8);
    height: 100%;
    width: 100%;
    
}

/* titulos */
.titulo{
    color: rgb(38, 97, 13);
    font-size: 175%;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo2{
    color: rgb(169, 234, 141);
    font-size: 175%;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* style calculadora basica */

.estrutura{
position:relative;
width: 294px;
height: 410px;

background: rgba(0, 20, 1, 0.65);
border-radius: 41px;
}

.liv{
position:relative;
width: 800px;
height: 700px;
left: 400px;
top: 0px;

background: linear-gradient(180deg, #C9FCDB 0%, rgba(10, 98, 40, 0) 100%);
border-radius: 100px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color:#fff;
  }

  #resultado{
    width: 209px;
    height:40px;
    background-color:rgb(213, 251, 219);
    margin: 8px;
    font-size: 25px;
    color:#000;
    text-align: right;
  }

  /* style bhaskara */

  #a1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 8px;
    padding: 1%;
    top:150px;
    
    }

    #b1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 8px;
    padding: 1%;
    top:225px;
    }

    #c1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 8px;
    padding: 1%;
    top: 300px;
    }

    #mostrar-resul{
        width: 190px;
        height:40px;
        background-color:rgb(213, 251, 219);
        margin: 8px;
        font-size: 25px;
        color:#000;
        text-align: right;
    }

    .letra-bhas{
        left: -20px;
        font-size: 175%;
        font-style: italic;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }

    .letra-bhas1{
        left: -20px;
        font-size: 130%;
        font-style: italic;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }








































#anima-div{
    background: url(../img/sprite-multi_1.png) -0px -531px;
    width: 120px;
    height: 120px;
    animation: anima-sprite 1s steps(10) infinite;
}

@keyframes anima-sprite{
    100%{ background-position-x: -1200px;}
}